const { SlashCommandBuilder } = require('@discordjs/builders');

module.exports = {
  name: 'command',
  data: new SlashCommandBuilder()
    .setName('name')
		.setDescription('desc'),
  async execute(interaction, Discord, db, s) {
  },
  async exe(message, Discord, db, s) {
  }
}